In [2]:
import pandas as pd

In [3]:
# Read a sample of the data
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'
df = pd.read_csv(url)

/tmp/ipykernel_115097/4141139245.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [4]:
# Display first rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
# Check data types
df.dtypes

VendorID                 float64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [6]:
# Check data shape
df.shape

(1369765, 18)

In [7]:
len(df)

1369765

In [8]:
df['VendorID']

0          1.0
1          1.0
2          1.0
3          1.0
4          2.0
          ...
1369760    NaN
1369761    NaN
1369762    NaN
1369763    NaN
1369764    NaN
Name: VendorID, Length: 1369765, dtype: float64

In [9]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates
)

In [10]:
len(df)

1369765

In [11]:
df['tpep_pickup_datetime']

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369760   2021-01-25 08:32:04
1369761   2021-01-25 08:34:00
1369762   2021-01-25 08:37:00
1369763   2021-01-25 08:28:00
1369764   2021-01-25 08:38:00
Name: tpep_pickup_datetime, Length: 1369765, dtype: datetime64[ns]

In [12]:
df['VendorID']

0             1
1             1
2             1
3             1
4             2
           ...
1369760    <NA>
1369761    <NA>
1369762    <NA>
1369763    <NA>
1369764    <NA>
Name: VendorID, Length: 1369765, dtype: Int64

In [13]:
uv add sqlalchemy psycopg2-binary

/workspaces/data-engineering-course-practice/pipeline/.venv/bin/python3: No module named uv
Note: you may need to restart the kernel to use updated packages.

In [14]:
!uv add sqlalchemy

Resolved 120 packages in 0.87ms
Audited 12 packages in 0.27ms

In [15]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
!uv add sqlalchemy psycopg2-binary

Resolved 120 packages in 0.63ms
Audited 12 packages in 0.20ms

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [18]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [20]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [22]:
from tqdm.auto import tqdm

In [23]:
# 2. Create the table schema (dropping existing data)
# We take the first chunk to get the structure
df_chunk = next(df_iter)
df_chunk.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# 3. Insert the first chunk we just pulled
df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

# 4. Loop through the rest with tqdm
# Since we already took the first chunk, this continues from the second
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

In [25]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [26]:
first_chunk = next(df_iter)

In [27]:
df_chunk.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [28]:
df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

765

In [29]:
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0it [00:00, ?it/s]

In [30]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/'

url1 = f'{prefix}taxi_zone_lookup.csv'

df_lookup = pd.read_csv(url1)

df_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [31]:
prefix = 'https://d37ci6vzurychx.cloudfront.net/trip-data/'

url2 = f'{prefix}green_tripdata_2025-11.parquet'

df_green = pd.read_parquet(url2)

df_green.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [32]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [33]:
print(pd.io.sql.get_schema(df_green, name='green_tripdata_202511', con=engine))
print(pd.io.sql.get_schema(df_lookup, name='taxi_zone_lookup', con=engine))

CREATE TABLE green_tripdata_202511 (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)



CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [34]:
df_green.head(n=0).to_sql(name='green_tripdata_202511', con=engine, if_exists='replace')
df_lookup.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [35]:
df_iter1 = pd.read_csv(
    url2,
    iterator=True,
    chunksize=100000,
    encoding='latin1'
)

df_iter2 = pd.read_csv(
    url2,
    iterator=True,
    chunksize=100000,
    encoding='latin1'
)

In [36]:
# 2. Create the table schema (dropping existing data)
# We take the first chunk to get the structure
df_chunk1 = next(df_iter1)
df_chunk1.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# 3. Insert the first chunk we just pulled
df_chunk1.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

# 4. Loop through the rest with tqdm
# Since we already took the first chunk, this continues from the second
for df_chunk in tqdm(df_iter1):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

StopIteration:

In [ ]:
df_chunk1 = next(df_lookup_iter1)
df_chunk1.head(0).to_sql(name='green_tripdata_202511', con=engine, if_exists='replace')

df_chunk2 = next(df_lookup_iter2)
df_chunk2.head(0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

df_chunk1.to_sql(name='green_tripdata_202511', con=engine, if_exists='append')
df_chunk2.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

In [ ]:
first = True

for df_chunk in df_iter:

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="green_tripdata_202511",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="taxi_zone_lookup",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

In [ ]:
# 2. Create the table schema (dropping existing data)
# We take the first chunk to get the structure
df_chunk = next(df_iter)
df_chunk.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# 3. Insert the first chunk we just pulled
df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

# 4. Loop through the rest with tqdm
# Since we already took the first chunk, this continues from the second
for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')